body {
    margin: 0;
    background-color: #0f1a20;
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
}

.home {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #a4c8fb;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.profile-container {
    display: flex;
    gap: 50px;
}

.profile {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}

.profile img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    transition: transform 0.3s, border 0.3s;
}

.profile img:hover {
    transform: scale(1.1);
    border: 3px solid #fff;
}

.profile p {
    margin-top: 10px;
    font-size: 18px;
}


